body {padding: 12px; font-size: 13px; font-family: arial; color: #222; line-height: 1.3em;}
* {margin: 0; padding: 0;}

#main {margin-top: 64px;}
#main > div {display: none; max-width: 350px;}
#main > div.load {width: 16px; height: 16px;}
#main.pair > .pair {display: block; margin: 0 auto;}
#main.error > .error {display: block;}
#main.connect_error > .connect_error {display: block;}
#main.load > .load {display: block;}

#main > .pair h1 {text-align: center;}
#main > .pair .logo {margin: 0 0 16px 0; text-align: center;}
#main > .pair .logo img {width: 100%; height: auto; max-width: 100px; margin: 0 auto;}
#main > .pair form {display: flex; align-items: middle; justify-content: space-between; font-size: 14px;}
#main > .pair form input[type=text] {width: 80%; margin-right: 6px;}

h1 {font-weight: normal; font-size: 20px; margin: 0 0 16px 0;}
h2 {font-weight: normal; font-size: 18px; margin: 0 0 16px 0;}
p {margin: 0 0 16px 0;}

